// =================== Colors
$audio-btn: #e6ccf9;


// Light theme colors:
$light-page-bg: #f0f0f0;
$light-app-bg: #ffffff;
$input-light-bg: #f5f5f5;
$h1-light-color: #222222;
$text-light-color: #3b3b3b;
$theme-btn-bg-light: #1f1f1f;


// Dark theme colors:
$dark-page-bg: #333333;
$dark-app-bg: #050505;
$input-dark-bg: #1f1f1f;
$h1-dark-color: #f1f0f0;
$text-dark-color: #a5a5a5;
$theme-btn-bg-dark: #a446e4;


$transition: all 0.25s ease-in-out;


%general-width {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}