.dark-bg {
    background-color: $dark-page-bg;
}

.app-dark-bg {
    background-color: $dark-app-bg;
    color: $text-dark-color;
}

.app-dark-bg h1{
    color: $h1-dark-color;
}

.app-dark-bg input {
    background-color: $input-dark-bg;
    color: $text-dark-color;
}

.dark-font-btn {
    color: $text-dark-color;
}

.theme-switcher-dark {
    background: $theme-btn-bg-dark !important;

    .switch {
        background: $audio-btn !important;
    }
}

.moon-dark {
    color: $audio-btn;
}