.light-bg {
    background-color: $light-page-bg;
}

.app-light-bg {
    background-color: $light-app-bg;
    color: $text-light-color;
}

.app-light-bg h1 {
    color: $h1-light-color;
}

.app-light-bg input {
    background-color: $input-light-bg;
}