.nav-container {
    display: flex;
    justify-content: space-between;
    align-content: center;


    // ========================= Icon.
    .nav-icon{
        color: #818181;
        font-size: 2rem;
    }


    // ========================= Interactive container.
    .interactive-container {
        display: flex;
        align-items: center;


        // ========================= Dropdown Container.
        .dropdown-container {
            position: relative;
            padding-right: 0.5rem;
            border-right: 1px solid rgba(0, 0, 0, 0.15);

            button {
                background: transparent;
                display: flex;
                align-items: center;
                gap: 0.4rem;
                font-size: 0.85rem;
                font-weight: 600;
                letter-spacing: 0.3px;
                padding: 0 0.5rem;
                cursor: pointer;
                transition: $transition;

                .button-arrow-icon {
                    background: transparent;
                    color: #d097f8;
                    font-size: 1.2rem;
                }
            }

            .dark-font-btn {
                color: $h1-dark-color;

                .button-arrow-icon {
                    color: #a446e4;
                }
            }


            // ========================= Dropdown Content.
            .dropdown-content {
                background-color: $light-app-bg;
                position: absolute;
                top: 25px;
                padding: 0.5rem 0;
                transform-origin: top;
                transition: $transition;
                z-index: 999;
                border-radius: 5px;

                button {
                    font-weight: 400;
                    margin-bottom: 1rem;
                    transition: $transition;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .dropdown-content-dark {
                background-color: $dark-app-bg;

                button {
                    color: $h1-dark-color;
                }
            }

            .show-dropdown-content {
                transform: scale(1, 1);
            }

            .hide-dropdown-content {
                transform: scale(1, 0);
            }
        }


        // ========================= Theme Btn Container.
        .theme-container {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding-left: 1rem;


            .theme-switcher {
                display: inline-block;
                position: relative;
                width: 40px;
                height: 20px;
                background: #999999;
                border-radius: 10px;
                cursor: pointer;

                .switch {
                    position: absolute;
                    left: 3px;
                    top: 3px;
                    width: 14px;
                    height: 14px;
                    background: $light-app-bg;
                    border-radius: 50%;
                    transition: all 0.3s ease-in-out;
                }

                .light {
                    left: 3px;
                }

                .dark {
                    left: 22px;
                }
            }

            .theme-switcher-dark {
                background: #a446e4;
            }

            .sun {
                font-size: 1.2rem;
                color: #d097f8;
            }

            .moon {
                font-size: 1.2rem;
                color: #a446e4;
            }
        }
    }
}