.resault-container {

    // ========================= Intro container.
    .intro-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .small-desc {
            h1 {
                color: $h1-light-color;
                font-size: 2.5em;
                font-weight: 700;
                letter-spacing: -0.3px;
                margin-bottom: 0.65rem;
                transition: $transition;

                @media (min-width: 768px) {
                    font-size: 2.7em;
                }

                @media (min-width: 1000px) {
                    font-size: 2.8em;
                }
            }

            p {
                color: $pink-light;
                font-size: 1.1em;
                letter-spacing: 1px;
                transition: $transition;
            }
        }

        .play-btn {
            background: transparent;
            color: $pink-light;
            font-size: 2.7em;
            cursor: pointer;
            transition: $transition;

            &:hover {
                color: $pink-light-hover;
            }
        }
    }


    // ========================= Meaning Wrapper.
    .meanings-wrapper {
        margin-top: 2rem;

        @media (min-width: 768px) {
            margin-top: 2.5rem;
        }

        // ========================= Meaning container.
        .meaning-container {

            // ========================= Part of speech.
            .partOfSpeech {
                color: $h1-light-color;
                font-size: 1.1rem;
                font-weight: 600;
                font-style: italic;
                letter-spacing: -0.3px;
                display: flex;
                align-items: center;
                gap: 1rem;
                transition: $transition;

                @media (min-width: 768px) {
                    font-size: 1.15em;
                }

                &::after {
                    content: "";
                    background-color: $border-light-color;
                    display: inline;
                    height: 1px;
                    width: 100%;
                    margin-top: 3px;
                }
            }


            // ========================= Meaning keyword.
            .meaning {
                color: $paragraph-light-color;
                font-size: 1.1em;
                margin: 1.5rem 0 1rem;

                @media (min-width: 768px) {
                    font-size: 1.15em;
                    margin: 2rem 0 1.15rem;
                }
            }


            // ========================= Definition.
            .definition-container {
                display: flex;
                align-items: flex-start;
                gap: 1rem;

                @media (min-width: 768px) {
                    margin-left: 1rem;
                }

                span {
                    &::after {
                        content: "";
                        display: block;
                        background-color: $pink-light;
                        height: 6px;
                        width: 6px;
                        border-radius: 50px;
                        margin-top: 0.4rem;
                        transition: $transition;
                    }
                }

                .definition {
                    color: $text-light-color;
                    line-height: 1.2;
                    letter-spacing: 0.3px;
                    margin-bottom: 1rem;
                    transition: $transition;

                    @media (min-width: 768px) {
                        font-size: 1.025em;
                        margin-bottom: 1.5rem;
                    }
                }
            }


            // ========================= Synonyms container.
            .synonyms-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                margin: 1.5rem 0 2.5rem;
                width: 100%;

                @media (min-width: 360px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media (min-width: 768px) {
                    grid-template-columns: repeat(4, 1fr);
                }

                h4 {
                    color: $paragraph-light-color;
                    font-size: 1.1em;

                    @media (min-width: 768px) {
                        font-size: 1.15em;
                    }
                }

                p {
                    color: $pink-light;
                    font-weight: 600;
                    cursor: pointer;
                    transition: $transition;

                    &:hover {
                        color: $pink-light-hover;
                    }
                }
            }
        }


        // ========================= Source container.
        .source-container {
            margin: 2rem 0;
            padding-top: 1.5rem;
            border-top: 1px solid $border-light-color;

            p {
                color: #a5a5a5;
                margin-bottom: 0.7rem;
            }

            a {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: $text-light-color;
                text-decoration: underline;
                transition: $transition;

                &:hover {
                    color: $pink-dark;
                }
            }
        }
    }
}


// ========================= Resault dark theme.
.resault-container-dark {
    .intro-container {
        .small-desc {
            h1 {
                color: $h1-dark-color;
            }

            p {
                color: $pink-dark;
            }
        }

        .play-btn {
            color: $pink-dark;

            &:hover {
                color: $pink-dark-hover;
            }
        }
    }


    .meanings-wrapper {
        .meaning-container {

            .partOfSpeech {
                color: $h1-dark-color;

                &::after {
                    background-color: $border-dark-color;
                }
            }

            .meaning {
                color: $paragraph-dark-color;
            }

            .definition-container  {
                span {
                    &::after {
                        background-color: $pink-dark;
                    }
                }

                .definition {
                    color: $text-dark-color;
                }
            }
            
            .synonyms-container {
                h4 {
                    color: $paragraph-dark-color;
                }

                p {
                    color: $pink-dark;

                    &:hover {
                        color: $pink-dark-hover;
                    }
                }
            }
        }

        .source-container {
            border-top: 1px solid $border-dark-color;

            p {
                color: $paragraph-dark-color;
            }

            a {
                color: $text-dark-color;
            }
        }
    }
}



// ========================= Resault error message.
.page-error-no-word {
    text-align: center;
    margin-top: 3rem;

    h1 {
        color: $text-light-color;
        font-size: 1.35rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 3rem;
        transition: $transition;

        @media (min-width: 768px) {
            margin-bottom: 4rem;
        }
    }

    iframe {
        width: 100%;
    }
}


// ========================= Resault error message dark.
.page-error-no-word-dark {
    h1 {
        color: $text-dark-color;
    }
}