@import "config";
@import "nav";
@import "input";
@import "resault";
@import "lightTheme";
@import "darkTheme";


.App {
    height: 100vh;
    height: 100dvh;
    padding: 1rem;
    transition: $transition;  

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}


.dictionary-app {
    max-width: 550px;   
    transition: $transition; 
    padding: 1rem;
}


.font-serif {
    font-family: serif;
    font-size: 15px;
}


.font-sans-serif {
    font-family: sans-serif;
    font-size: 15px;
}


.font-monospace {
    font-family: monospace;
    font-size: 14px;
}











/*

h1 {
    color: $h1-light-color;
}


.dark-header {
    color: $h1-dark-color;
}

*/